
	<%= form_for :session, :html => {:class => 'high-z-index'} do |f| %>

		 <%= f.text_field :username, placeholder: "Username" %>
		 <br>
		 <br>
		 <%= f.password_field :password, placeholder: "Password" %>
		 <br>
		 <br>
		 <%= f.submit "Login", class: "front-buttons" %>
		 <br>
		 <br>
	<% end %>

	<h4 class="high-z-index">New user?</h4> 
	<div class="high-z-index">
		<%= button_to "Signup", new_user_path, method: "get", class: 'high-z-index front-buttons' %>
	</div>
