<div class="img-wrapper">
	<img src="<%=@artist.img_url%>">
</div>
<h1><%= @artist.name %></h1>
<p><%= @artist.bio %></p>

<!--  Inside the <ul> is for adding songs to the user's playlist or creating a new
      playlist and adding the song to it. It also has the audio player which is
      using application.js to update the progress bar. -->

<h2>Music</h2>
<br>
<ul>
	<% @artist.songs.each do |song| %>
		<li class="song-li"><h3 class="song-title"><%= song.title %> || <%= song.play_count %></h3>
			<!-- <audio controls>
				<source src="But-Not-For-Me.mp3" type="audio/mpeg">
			</audio>  -->
			<div id="audio-controls-wrapper-<%= song.id %>" data-id="<%=song.id %>">

				<%= audio_tag("#{@artist.name}/#{song.title}", id: "#{song.id}", ontimeupdate: "updateProgress(#{song.id})") %>
					 <button class="play-button fas fa-play" data-id="<%=song.id %>" onclick="document.getElementById('<%= song.id %>').play(); <% song.update(play_count: song.play_count += 1) %>" ></button>
					 <button class="pause-button fas fa-pause" data-id="<%=song.id %>" onclick="document.getElementById('<%= song.id %>').pause()"></button>
					 <progress class="progress-bar" id="bar-<%= song.id %>" value="0" max="1" style="width:35vw; height:3vh;"></progress>

			</div>
		</li>
		<li class="playlist-li">
		<%= form_for @playlist do |f| %>
			<input type="hidden" name="songs[song_id]" value="<%= song.id%>">
			<input type="hidden" name="artist[id]" value="<%= @artist.id %>">
			<%= f.text_field :playlist_title, list: "playlist", :autocomplete => :off %>
			<datalist id="playlist">
				<% @user.playlists.each do |playlist| %>
					<option name="playlist[title]" value="<%= playlist.title %>">

					</option>
				<% end %>
			</datalist>
			<%= f.submit "Add To Playlist"%>
		<% end %>
		</li>
	<% end %>
</ul>


<h2>Shows</h2>
<ul>
	<% @artist.shows.each do |show| %>
		<li><%= link_to "City: #{show.city} Date: #{show.time}", show %></li>
	<% end %>
</ul>
