


<div class="img-wrapper">
	<img src="<%=@artist.img_url%>">
</div>
<h1><%= @artist.name %></h1>
<p>Bio: <%= @artist.bio %></p>





<ul>
	<% @artist.songs.each do |song| %>
		<li><%= song.title %>
			<!-- <audio controls>
				<source src="But-Not-For-Me.mp3" type="audio/mpeg">
			</audio>  --> 
			<%= audio_tag("#{@artist.name}/#{song.title}", controls: true) %>
		</li>
		<li>
		<%= form_for @playlist do |f| %>
			<input type="hidden" name="songs[song_id]" value="<%= song.id%>">
			<input type="hidden" name="artist[id]" value="<%= @artist.id %>">
			<%= f.text_field :playlist_title, list: "playlist", :autocomplete => :off %>
			<datalist id="playlist">
				<% @user.playlists.each do |playlist| %>
					<option name="playlist[title]" value="<%= playlist.title %>">

					</option>
				<% end %>
			</datalist>
			<%= f.submit %>
		<% end %>
		</li>
	<% end %>
</ul>

<ul>
	<% @artist.shows.each do |show| %>
		<li><%= link_to "City: #{show.city} Date: #{show.time}", show %></li>
	<% end %>
</ul>

