
<div class="playlist-page">
	<h2><%= @playlist.title %>
	</h2>

	<ul class="outside-playlist-wrapper">
		<% @playlist.songs.each do |song| %>
		  <div class="playlist-song-wrapper">
			<li class="fit-content">Title: <%= song.title%></li>
			<li class="fit-content">Artist: <%= link_to song.artist.name, song.artist %></li>
			<li class="song-li fit-content">
				<div class="audio-controls" id="audio-controls-wrapper-<%= song.id %>" data-id="<%=song.id %>">
					<%= audio_tag("#{song.artist.name}/#{song.title}", id: "#{song.id}", ontimeupdate: "updateProgress(#{song.id})") %>
						 <button class="play-button fas fa-play" data-id="<%=song.id %>" onclick="document.getElementById('<%= song.id %>').play()"></button>
						 <button class="pause-button fas fa-pause" data-id="<%=song.id %>" onclick="document.getElementById('<%= song.id %>').pause()"></button>
						 <progress class="progress-bar" id="bar-<%= song.id %>" value="0" max="1"></progress>
				</div>
				
			</li>
			<%= link_to 'Delete Song', song.playlist_songs.find_by(song_id: song.id, playlist_id: @playlist.id), method: 'delete', class: 'fit-content'%>
		  </div>
		<% end %>
	</ul>
  <div class="edit-playlist">
  	<%= form_for @playlist, :html => {:class => 'high-z-index'} do |f| %>
	    <%= f.text_field :title %><br><br>
		<%= f.submit "Update Playlist Name", class: "playlist-show-buttons" %>
	<% end %>
	<%= button_to "Delete Playlist", @playlist, :method => :delete, :class => 'playlist-show-buttons' %>
  </div>
</div>