<div class="main_content">

<h2><%= @playlist.title %>
	<div class="dropdown">
		<%= form_for @playlist  do |f| %>
		  <%= f.text_field :title %>
		  <br />
		<%= f.submit "Update Playlist Name" %>
		<% end %>
	</div>
</h2>

<ul>
<% @playlist.songs.each do |song| %>
	<li>Title: <%= song.title%></li> <%= link_to 'Delete Song', song.playlist_songs.find_by(song_id: song.id, playlist_id: @playlist.id), method: 'delete'%>
	<li>Artist: <%= link_to song.artist.name, song.artist %></li>
	<li class="song-li">
		<div id="audio-controls-wrapper-<%= song.id %>" data-id="<%=song.id %>">
			<%= audio_tag("#{song.artist.name}/#{song.title}", id: "#{song.id}", ontimeupdate: "updateProgress(#{song.id})") %>
				 <button class="play-button fas fa-play" data-id="<%=song.id %>" onclick="document.getElementById('<%= song.id %>').play()"></button>
				 <button class="pause-button fas fa-pause" data-id="<%=song.id %>" onclick="document.getElementById('<%= song.id %>').pause()"></button>
				 <progress class="progress-bar" id="bar-<%= song.id %>" value="0" max="1" style="width:35vw; height:3vh;"></progress>
		</div>
	</li>
	<% end %>
</ul>
