<!DOCTYPE html>
<html>
  <head>
    <title>!Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="nav-bar">
      <%= image_tag("logo.png") %>

    <!-- Elements within this if statement are only shown if the user is logged in --> 
      <% if session[:user_id] %>
      <div class="nav-button">
        <%= link_to "Artists", '/' %>
      </div>
      <div class="nav-button dropright">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Playlists</a>
          <ul class="dropdown-menu">
            <% current_user.playlists.each do |playlist| %>
              <a href="/playlists/<%= playlist.id %>"><li><%= playlist.title %></li></a>
            <% end %>
          </ul> 
      </div>
      <div class="nav-button">
        <%= link_to "Analytics", '/analytics' %>
      </div>
      <div class="nav-button">
          <%= link_to "Log Out", '/logout', id: "logout", method: "post" %>
        <% end %>
      <!-- end of the if statement for people logged in -->
      </div>
    </div>
    <main class="main_content">
    <%= yield %>
    </main>
  </body>
</html>

