<!DOCTYPE html>
<html>
  <head>
    <title>!Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <div class="nav-button">
        <%= link_to "Home", root_path %>
      </div>
      <div class="nav-button">
        <%= link_to "Artists", artists_path %>
      </div>
      <div class="nav-button">
        <%= link_to "Playlists", playlists_path %>
      </div>
      <div class="nav-button">
        <% if session[:user_id] %>
          <%= link_to "Log Out", '/logout', id: "logout", method: "post" %>
        <% else %>
          <%= link_to "Log In", '/login', id: "login" %>
        <% end %>
      </div>
    </div>
    <div class="main_content">
    <%= yield %>  
    </div>  
  </body>
</html>
