<!DOCTYPE html>
<html>
  <head>
    <title>!Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="nav-bar">
      <%= link_to image_tag("logo.png"), '/' %>
      <% if session[:user_id] %>
      <div class="nav-button">
        <%= link_to "Artists", '/' %>
      </div>
      <div class="nav-button">
        <%= link_to "Playlists", playlists_path %>
      </div>
      <div class="nav-button">
        
          <%= link_to "Log Out", '/logout', id: "logout", method: "post" %>
        <% else %>
          <%= link_to "Log In", '/login', id: "login" %>
        <% end %>
      </div>
    </div>
    <main class="main_content">
    <%= yield %>  
    </main>  
  </body>
</html>
